<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Document</title>
</head>
<body>
    <div id="main-content">
        <form method="post" action="/new" id="new-note-form">
            <div class="form-fields">
                <label for="title"></label>
                <input type="text" name="note[title]" id="new-title" class="form-element-field title-field" autocomplete="off" placeholder="Title" autofocus>
                <hr>
                <label for="body"></label>
                <textarea name="note[body]" id="new-body" class="form-element-field body-field" autocomplete="off" placeholder="Enter note here . . ."></textarea>
                <button id='submit-note' class='submit-btn'><span class="inline iconify-inline tick" data-icon="teenyicons:tick-circle-outline"></span></button>
            </div>
        </form>

        <div id="notes-container" class="notes-container">
            <div id="display-notes" class="grid">
                <% for( let note of notes ) { %>
                    <div class="tile <%=note.color%>" data-note-id="<%-note._id%>">
                        <div class='tile-content'>
                            <h4 class="note-title"><%=note.title%></h4>
                            <p class="note-body"><%=note.body%></p>
                            <div class="note-options">
                                <button class="btn edit-btn" data-note-id="<%-note._id%>"><span class="inline iconify-inline" data-icon="akar-icons:edit"></span></button>
                                <button class="btn delete-btn" data-note-id="<%-note._id%>"><span class="inline iconify-inline" data-icon="ant-design:delete-outlined"></span></button>
                                <div class="color-picker">
                                    <button class="btn color-btn"><span class="color-picker-btn inline iconify-inline" data-icon="carbon:color-palette"></span></button>
                                    <div class="color-dropdown">
                                        <label class="color-container">
                                            <input type="radio" <%=note.color==="default"?"checked":""%> name="<%-note._id%>" data-color="default">
                                            <span class="checkmark default"></span>
                                        </label>
                                        <label class="color-container">
                                            <input type="radio" <%=note.color==="red"?"checked":""%> name="<%-note._id%>" data-color="red">
                                            <span class="checkmark red"></span>
                                        </label>
                                        <label class="color-container">
                                            <input type="radio" <%=note.color==="green"?"checked":""%> name="<%-note._id%>" data-color="green">
                                            <span class="checkmark green"></span>
                                        </label>
                                        <label class="color-container">
                                            <input type="radio" <%=note.color==="blue"?"checked":""%> name="<%-note._id%>" data-color="blue">
                                            <span class="checkmark blue"></span>
                                        </label>
                                        <label class="color-container">
                                            <input type="radio" <%=note.color==="yellow"?"checked":""%> name="<%-note._id%>" data-color="yellow">
                                            <span class="checkmark yellow"></span>
                                        </label>
                                        <label class="color-container">
                                            <input type="radio" <%=note.color==="purple"?"checked":""%> name="<%-note._id%>" data-color="purple">
                                            <span class="checkmark purple"></span>
                                        </label>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>

    <div class='overlay' id='overlay'>
        <form method="post" action="/edit" id="edit-note-form" data-note-id="" data-div-id="">
            <div class="form-fields edit-form-fields" id="form-fields">
                <button class='exit-edit-form' id='exit-edit-form'><span class="inline iconify-inline" data-icon="la:times-circle"></span></button>
                <label for="title"></label>
                <input type="text" name="editNote[title]" id="edit-title" class="form-element-field title-field edit-title-field" autocomplete="off" placeholder="Title">
                <hr>
                <label for="body"></label>
                <textarea name="editNote[body]" id="edit-body" class="form-element-field body-field" autocomplete="off" placeholder="Enter note here . . ." ></textarea>
                <button id='submit-edit-form' class='submit-btn'><span class="inline iconify-inline tick" data-icon="teenyicons:tick-circle-outline"></span></button>
            </div>
        </form>
    </div>

    <script>const passedNotes = {notes: <%-JSON.stringify(notes)%>};</script>
    <!-- <button id="update-button">Update</button> -->
    <script src="https://cdn.jsdelivr.net/npm/web-animations-js@2.3.2/web-animations.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/muuri@0.9.5/dist/muuri.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascript/index.js"></script>
</body>
</html>